* { box-sizing: border-box; margin: 0; }

body {
  background: #1F1B1A;
  color: #EEE;
  font-family: Menlo;
}

div.preview {
  border: 2px solid;
  margin: 5px;
  width: 280px;
  height: 300px;
  resize: both;
  overflow: hidden;
  background: #EEE;
}

circle.inport {
  fill: #29ADFF;
}
circle.outport {
  fill: #FFEC27;
}

svg {
  display: block;
  width: 100vw;
  height: 100vh;
  cursor: -webkit-grab;
}

#join {
  fill: none;
  stroke: #FFEC27;
}

// @keyframes example {
//   0% {fill: pink;}
//   50% {fill: red;}
//   100% {fill: pink;}
// }

g rect {
  fill: red;
  // transition: fill 0.1s;
}

g.ran rect {
  // animation-name: example;
  // animation-duration: 1s;
}

path.edge {
  stroke: #FFEC27;
  stroke-width: 10px;
  stroke-dashoffset: 110;
  stroke-dasharray: 100 10;
  animation: dash 0.5s linear infinite;
}
path.edge[data-type="undefined"],
path.edge[data-type="null"] {
  stroke: grey;
}
path.edge[data-type="number"] {
}
path.edge[data-type="array"] {
}
path.edge[data-type="object"] {
}
path.edge[data-type="string"] {
}
path.edge[data-type="function"] {
}
path.edge[data-type="promise"] {
}
path.edge[data-type="generatorfunction"] {
}
path.edge[data-type="regexp"] {
}
path.edge[data-type="date"] {
}
path.edge[data-type="error"] {
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

svg:active {
  cursor: -webkit-grabbing;
}

text,
foreignObject {
  user-select: none;
}